appdirs==1.4.3
APScheduler==3.3.1
beautifulsoup4==4.5.3
click==6.7
croniter==0.3.16
dj-database-url==0.4.2
Django==1.11
django-rq==0.9.5
gunicorn==19.7.1
packaging==16.8
psycopg2==2.7.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
redis==2.10.5
requests==2.13.0
rq==0.7.1
rq-scheduler==0.7.0
six==1.10.0
tzlocal==1.3
